.container {
    display: flex;
    background-color: #3D1363;
    overflow: auto; 
    padding: 16px;
}

.inputFinderGithub {
    height: 6vh;
    width: 80%;
    padding: 8px 16px;
    outline: none;
    border-radius: 8px;
    color: #AF71E8;
    margin-top: 25%;
    box-sizing: border-box;
}

.inputFinderGithub::placeholder {
    color: #AF71E8;
    opacity: 0.4;
}

.inputFinderGithub::selection {
    background-color: #AF71E8;
    color: #fff;
}

.buttonAdd {
    width: 40%;
    background-color: #159642;
    padding: 8px;
    outline: none;
    border: none;
    border-radius: 8px;
    color: #fff;
    margin-top: 2vh;
    cursor: pointer;
    transition: linear background-color 200ms;
}

.buttonAdd:hover {
    background-color: #10b94b;
}


.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.buttonGoAndClean {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
}
.buttonClean {
    background-color: #4B3163;
    padding: 8px;
    outline: none;
    border: none;
    border-radius: 8px;
    color: #fff;
    margin-top: 2vh;
    cursor: pointer;
    transition: linear opacity 200ms;
}

.buttonClean:hover {
    opacity: 0.7;
}

.errorMsg {
    width: 100%;
    padding: 8px;
    color: #c179f9;
    position: fixed;
    bottom: 0;
    animation-duration: 3s;
    animation-name: slidein;
    user-select: none;
}

@keyframes slidein {
    from {
      margin-bottom: -10%;
    }
  
    to {
      margin-top: 0%;
      width: 99vw;
    }
}


@media (min-width: 1024px)  {
    .inputFinderGithub {
        margin-top: 15%;
    }
    .inputFinderGithub {
        width: 40%;
        height: 4vh;
    }
    .buttonGoAndClean {
        width: 40%;
    }
    .buttonAdd {
        width: 30%;
    }
    .buttonClean {
        width: 20%;
    }
}