.divConteudo{
    display: flex!important;
    width: 80%!important;
    margin: 0 auto!important;
    margin-top: 2%!important;
    margin-bottom: -1%!important;
}

.divList{
    width: 80%!important;
    margin: 0 auto!important;
  
}
.imgList{
    width: 10%;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgGitHub{
    margin: 10px!important;
    width: 5rem!important;
    height: 5rem!important;
    margin-right: 5%!important;
}

.nameGitHub{
    width: 80%!important;
    font-size: 1em!important;
    margin-right: 75%!important;
    margin: 0 auto!important;

}

.descriptionGitHub{
    display: flex;
    width: 80%!important;
    margin: 0 auto!important;
}

.businessGitHub{
    margin-top: 2%!important;

}
.locationGitHub{
    margin: 0 auto!important;
}

.msgErro{
    width: 50%!important;
    padding: 2rem;
    margin: 0 auto;
    color: #721c24;
}

.spanSubTitle{
    font-size: 1rem;
}

.divBtn{
    width: 100%!important;
    float: left;
    margin-left: 4rem;
}


@media (min-width: 200px) {
    .divConteudo{
        margin-left: 4em!important;
    }
    .MuiTypography-body2, .MuiTypography-colorTextSecondary{
        font-size: 60%!important;
        margin-left: 3em!important;

    }
    .imgGitHub{
        margin-left: -3em!important;
    }
    .MuiIconButton-label{
        font-size: 80%!important;
    }
    .divBtn{
        margin-left: 1em!important;
    }
}



@media (min-width: 320px) {
    .divConteudo{
        margin-left: 4em!important;
    }
    .MuiTypography-body2, .MuiTypography-colorTextSecondary{
        font-size: 60%!important;
        margin-left: 3em!important;

    }
    .imgGitHub{
        margin-left: -3em!important;
    }
    .MuiIconButton-label{
        font-size: 80%!important;
    }
    .divBtn{
        margin-left: 1em!important;
    }
}


@media (min-width: 425px) {
    .MuiTypography-body2, .MuiTypography-colorTextSecondary{
        font-size: 60%!important;
    }
    .imgGitHub{
        margin-left: -3em!important;
    }
    .MuiIconButton-label{
        font-size: 80%!important;
    }
    .divBtn{
        margin-left: 1em!important;
    }
}

@media (min-width: 768px) {
    .divList{
        width: 60%!important;
        margin: 0 auto!important;
    }
    .divBtn{
        width: 100%!important;
        float: left;
        margin-left: 1rem;
    }
    .MuiTypography-body2, .MuiTypography-colorTextSecondary{
        font-size: 60%!important;
    }
    .imgGitHub{
        margin-left: -3em!important;
    }
    .divConteudo{
        margin-left: 6em!important;
    }
}

@media (min-width: 1024px) {
    .divList{
        width: 70%!important;
        margin: 0 auto!important;
    }
    .divBtn{
        width: 100%!important;
        float: left;
        margin-left: 2rem;
    }
    .MuiTypography-body2, .MuiTypography-colorTextSecondary{
        font-size: 80%!important;
    }
    .divConteudo{
        margin-left: 10em!important;
    }
}

@media (min-width: 1440px) {
    .divConteudo{
    width: 100%!important;
    }
    .btnAcessar{
        margin: 0 auto!important;
    }
}

@media (min-width: 2560px) {
    .divBtn{
        width: 100%!important;
        margin-left: 4rem!important;
    }
    .MuiTypography-body2, .MuiTypography-colorTextSecondary{
        font-size: 100%!important;
    }
    .imgGitHub{
        margin-left: 12em!important;
    }
    .divConteudo{
        margin-left: 15em!important;
    }
}
